In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([5,9,13,17])

In [3]:
obj

0     5
1     9
2    13
3    17
dtype: int64

In [4]:
obj.values

array([ 5,  9, 13, 17])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
ages = Series([12, 23, 34, 32, 31],index=['Alex', 'Oleg', 'Anton', 'Olga', 'Piter'])

In [7]:
ages

Alex     12
Oleg     23
Anton    34
Olga     32
Piter    31
dtype: int64

In [8]:
print(f"ages['Oleg']: {ages['Oleg']}")
print(f"ages['Olga']: {ages['Olga']}")

ages['Oleg']: 23
ages['Olga']: 32

In [10]:
# more than 30
ages[ages > 30]

Anton    34
Olga     32
Piter    31
dtype: int64

In [11]:
'Anton' in ages

True

In [12]:
ages_dict = ages.to_dict()
ages_dict

{'Alex': 12, 'Anton': 34, 'Oleg': 23, 'Olga': 32, 'Piter': 31}

In [13]:
persons = ['Piter', 'Julia', 'Oleg', 'Anton']

In [14]:
ages_2 = Series(ages_dict, index=persons)
ages_2

Piter    31.0
Julia     NaN
Oleg     23.0
Anton    34.0
dtype: float64

In [15]:
pd.isnull(ages_2)

Piter    False
Julia     True
Oleg     False
Anton    False
dtype: bool

In [21]:
ages_2[pd.isnull(ages_2)==True]

Julia   NaN
dtype: float64