In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
table = pd.read_csv('nfl_data.csv')

In [3]:
type(table)

pandas.core.frame.DataFrame

In [4]:
table.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct', 'First NFH Season',
       'Division'],
      dtype='object')

In [5]:
table['Team']

0              Dallas Cowboys
1           Green Bay Packers
2               Chicago Bears
3              Miami Dolphins
4     New England Patriots[b]
5           Minnesota Vikings
6            Baltimore Ravens
7             New York Giants
8              Denver Broncos
9         San Francisco 49ers
10        Pittsburgh Steelers
11            Oakland Raiders
12      Indianapolis Colts[c]
13         Kansas City Chiefs
14           Seattle Seahawks
15        Washington Redskins
16          Carolina Panthers
17    Los Angeles Chargers[d]
18           Los Angeles Rams
19           Cleveland Browns
20        Philadelphia Eagles
21           Tennessee Titans
22              Buffalo Bills
23              Detroit Lions
24         Cincinnati Bengals
25              New York Jets
26       Jacksonville Jaguars
27         New Orleans Saints
28            Atlanta Falcons
29             Houston Texans
30          Arizona Cardinals
31       Tampa Bay Buccaneers
Name: Team, dtype: object

In [6]:
table = DataFrame(table, columns=['Team','Won','Division', 'Stadium'])

In [7]:
table.head()

                      Team  Won   Division  Stadium
0           Dallas Cowboys  502   NFC East      NaN
1        Green Bay Packers  737  NFC North      NaN
2            Chicago Bears  749  NFC North      NaN
3           Miami Dolphins  445   AFC East      NaN
4  New England Patriots[b]  489   AFC East      NaN

In [8]:
table.tail()

                    Team  Won   Division  Stadium
27    New Orleans Saints  349  NFC South      NaN
28       Atlanta Falcons  351  NFC South      NaN
29        Houston Texans  110  AFC South      NaN
30     Arizona Cardinals  550   NFC West      NaN
31  Tampa Bay Buccaneers  255  NFC South      NaN

In [9]:
table.ix[2]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Team        Chicago Bears
Won                   749
Division        NFC North
Stadium               NaN
Name: 2, dtype: object

In [10]:
table_short = table.head(6)

In [11]:
table_short

                      Team  Won   Division  Stadium
0           Dallas Cowboys  502   NFC East      NaN
1        Green Bay Packers  737  NFC North      NaN
2            Chicago Bears  749  NFC North      NaN
3           Miami Dolphins  445   AFC East      NaN
4  New England Patriots[b]  489   AFC East      NaN
5        Minnesota Vikings  470  NFC North      NaN

In [12]:
new_col = Series(['first_row', 'trird_row'], index=[0,2])
table_short['Stadium'] = new_col

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
table_short

                      Team  Won   Division    Stadium
0           Dallas Cowboys  502   NFC East  first_row
1        Green Bay Packers  737  NFC North        NaN
2            Chicago Bears  749  NFC North  trird_row
3           Miami Dolphins  445   AFC East        NaN
4  New England Patriots[b]  489   AFC East        NaN
5        Minnesota Vikings  470  NFC North        NaN

In [14]:
del table_short['Stadium']

In [15]:
table_short

                      Team  Won   Division
0           Dallas Cowboys  502   NFC East
1        Green Bay Packers  737  NFC North
2            Chicago Bears  749  NFC North
3           Miami Dolphins  445   AFC East
4  New England Patriots[b]  489   AFC East
5        Minnesota Vikings  470  NFC North

In [16]:
data = {'City':['SF','LA','NYC'], 'Population':[837000,38000000, 84000000]}

In [17]:
city_frame = DataFrame(data)

In [18]:
city_frame

  City  Population
0   SF      837000
1   LA    38000000
2  NYC    84000000