# My Astronomical Classification (using Python)

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import os
import sta

%matplotlib inline

In [9]:
main_data_set = pd.read_csv(os.getcwd() + '\\training_set.csv')

In [15]:
main_data_set.head(10)

   object_id         mjd  passband         flux   flux_err  detected
0        615  59750.4229         2  -544.810303   3.622952         1
1        615  59750.4306         1  -816.434326   5.553370         1
2        615  59750.4383         3  -471.385529   3.801213         1
3        615  59750.4450         4  -388.984985  11.395031         1
4        615  59752.4070         2  -681.858887   4.041204         1
5        615  59752.4147         1 -1061.457031   6.472994         1
6        615  59752.4224         3  -524.954590   3.552751         1
7        615  59752.4334         4  -393.480225   3.599346         1
8        615  59752.4435         5  -355.886780  10.421921         1
9        615  59767.2968         2  -548.013550   3.462291         1

In [11]:
main_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1421705 entries, 0 to 1421704
Data columns (total 6 columns):
object_id    1421705 non-null int64
mjd          1421705 non-null float64
passband     1421705 non-null int64
flux         1421705 non-null float64
flux_err     1421705 non-null float64
detected     1421705 non-null int64
dtypes: float64(3), int64(3)
memory usage: 65.1 MB

In [16]:
object_id = pd.unique(main_data_set['object_id'])
len(object_id)

7848

In [17]:
object_id = pd.unique(main_data_set['detected'])
len(object_id)

2

In [ ]:
sns.jointplot(x='flux',
              y='passband',
              data=main_data_set,
              kind='reg',
              color="m",
              height=7)

C:\Users\Anton Aksynov\AppData\Local\Programs\Python\Python36-32\lib\site-packages\scipy\stats\stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval