# My Astronomical Classification (using Python)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mlt
import os
import stat

%matplotlib inline

SyntaxError: invalid syntax (<ipython-input-1-06a6db252fc1>, line 1)

In [9]:
data_set = pd.read_csv('C:\\Users\\Anton Aksynov\\Documents\\GitRepo\\MyPythonStudy\\005_Kagle_Practice\\02_PLAsTiCC Astronomical Classification\\training_set.csv')

In [11]:
data_set.head(6)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>object_id</th>
      <th>mjd</th>
      <th>passband</th>
      <th>flux</th>
      <th>flux_err</th>
      <th>detected</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>615</td>
      <td>59750.4229</td>
      <td>2</td>
      <td>-544.810303</td>
      <td>3.622952</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>615</td>
      <td>59750.4306</td>
      <td>1</td>
      <td>-816.434326</td>
      <td>5.553370</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>615</td>
      <td>59750.4383</td>
      <td>3</td>
      <td>-471.385529</td>
      <td>3.801213</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>615</td>
      <td>59750.4450</td>
      <td>4</td>
      <td>-388.984985</td>
      <td>11.395031</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>615</td>
      <td>59752.4070</td>
      <td>2</td>
      <td>-681.858887</td>
      <td>4.041204</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>615</td>
      <td>59752.4147</td>
      <td>1</td>
      <td>-1061.457031</td>
      <td>6.472994</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1421705 entries, 0 to 1421704
Data columns (total 6 columns):
object_id    1421705 non-null int64
mjd          1421705 non-null float64
passband     1421705 non-null int64
flux         1421705 non-null float64
flux_err     1421705 non-null float64
detected     1421705 non-null int64
dtypes: float64(3), int64(3)
memory usage: 65.1 MB

In [15]:
objects_id = pd.unique(data_set['object_id'])
len(objects_id)

7848

In [ ]:
sns.