In [11]:
import functions

ModuleNotFoundError: No module named 'functions'

In [3]:
dframe1 = DataFrame({'Key':['X','Z','Y','X','X','Y'], 'data_1':np.arange(6)})

In [4]:
dframe1

  Key  data_1
0   X       0
1   Z       1
2   Y       2
3   X       3
4   X       4
5   Y       5

In [5]:
dframe2 = DataFrame({'Key':['X','Z','Q'], 'data_2':[1, 2, 3]})

In [6]:
dframe2

  Key  data_2
0   X       1
1   Z       2
2   Q       3

In [7]:
pd.merge(dframe1,dframe2)

  Key  data_1  data_2
0   X       0       1
1   X       3       1
2   X       4       1
3   Z       1       2

In [8]:
pd.merge(dframe1,dframe2,on='Key')

  Key  data_1  data_2
0   X       0       1
1   X       3       1
2   X       4       1
3   Z       1       2

In [9]:
pd.merge(dframe1,dframe2,on='Key',how='left')

  Key  data_1  data_2
0   X       0     1.0
1   Z       1     2.0
2   Y       2     NaN
3   X       3     1.0
4   X       4     1.0
5   Y       5     NaN

In [10]:
pd.merge(dframe1,dframe2,on='Key',how='right')

  Key  data_1  data_2
0   X     0.0       1
1   X     3.0       1
2   X     4.0       1
3   Z     1.0       2
4   Q     NaN       3