In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [2]:
df = pd.read_csv('winequality-red.csv',sep=';')

In [3]:
df.head(4)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6

In [4]:
df['alcohol'].mean()

10.422983114446529

In [5]:
# add max & min function
def max_to_min(arr):
    return arr.max() - arr.min()

In [8]:
wino = df.groupby('quality')
wino.describe()

        alcohol                                                          \
          count       mean       std  min     25%     50%     75%   max
quality
3          10.0   9.955000  0.818009  8.4   9.725   9.925  10.575  11.0
4          53.0  10.265094  0.934776  9.0   9.600  10.000  11.000  13.1
5         681.0   9.899706  0.736521  8.5   9.400   9.700  10.200  14.9
6         638.0  10.629519  1.049639  8.4   9.800  10.500  11.300  14.0
7         199.0  11.465913  0.961933  9.2  10.800  11.500  12.100  14.0
8          18.0  12.094444  1.224011  9.8  11.325  12.150  12.875  14.0

        chlorides            ...   total sulfur dioxide         \
            count      mean  ...                    75%    max
quality                      ...
3            10.0  0.122500  ...                   42.5   49.0
4            53.0  0.090679  ...                   49.0  119.0
5           681.0  0.092736  ...                   84.0  155.0
6           638.0  0.084956  ...                   54.0  165.0
7           199.0  0.076588  ...                   43.0  289.0
8            18.0  0.068444  ...                   43.0   88.0

        volatile acidity                                                   \
                   count      mean       std   min     25%    50%     75%
quality
3                   10.0  0.884500  0.331256  0.44  0.6475  0.845  1.0100
4                   53.0  0.693962  0.220110  0.23  0.5300  0.670  0.8700
5                  681.0  0.577041  0.164801  0.18  0.4600  0.580  0.6700
6                  638.0  0.497484  0.160962  0.16  0.3800  0.490  0.6000
7                  199.0  0.403920  0.145224  0.12  0.3000  0.370  0.4850
8                   18.0  0.423333  0.144914  0.26  0.3350  0.370  0.4725


           max
quality
3        1.580
4        1.130
5        1.330
6        1.040
7        0.915
8        0.850

[6 rows x 88 columns]

In [10]:
wino.agg(max_to_min)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,4.9,1.140,0.66,4.5,0.206,31.0,40.0,0.00609,0.47,0.46,2.6
4,7.9,0.900,1.00,11.6,0.565,38.0,112.0,0.00760,1.16,1.67,4.1
5,10.9,1.150,0.79,14.3,0.572,65.0,149.0,0.01059,0.86,1.61,6.4
6,9.6,0.880,0.78,14.5,0.381,71.0,159.0,0.01362,1.15,1.55,5.6
7,10.7,0.795,0.76,7.7,0.346,51.0,282.0,0.01256,0.86,0.97,4.8
8,7.6,0.590,0.69,5.0,0.042,39.0,76.0,0.00800,0.84,0.47,4.2