In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
my_ser = Series([1,2,3,4],index=['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
my_index = my_ser.index
my_index

In [4]:
my_index[0]

'A'

In [5]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [6]:
my_index[0] = 'AA'

TypeError: Index does not support mutable operations

In [7]:
from numpy.random import random

In [8]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [9]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [10]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [11]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])

In [12]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
ranger = range(15)
ranger

range(0, 15)

In [14]:
ser3.reindex(ranger, method='ffill')

In [15]:
dframe = DataFrame(random(25).reshape((5,5)),index=['A','B','C','D','E']
                   , columns=['co1_1','co1_2','co1_3','co1_4','co1_5',])

In [16]:
dframe

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>co1_1</th>
      <th>co1_2</th>
      <th>co1_3</th>
      <th>co1_4</th>
      <th>co1_5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>0.578213</td>
      <td>0.148999</td>
      <td>0.645292</td>
      <td>0.551983</td>
      <td>0.798281</td>
    </tr>
    <tr>
      <th>B</th>
      <td>0.476403</td>
      <td>0.070869</td>
      <td>0.396809</td>
      <td>0.124160</td>
      <td>0.788110</td>
    </tr>
    <tr>
      <th>C</th>
      <td>0.103108</td>
      <td>0.163037</td>
      <td>0.720185</td>
      <td>0.698488</td>
      <td>0.491218</td>
    </tr>
    <tr>
      <th>D</th>
      <td>0.270907</td>
      <td>0.324817</td>
      <td>0.793354</td>
      <td>0.682935</td>
      <td>0.433032</td>
    </tr>
    <tr>
      <th>E</th>
      <td>0.321363</td>
      <td>0.381790</td>
      <td>0.233558</td>
      <td>0.013577</td>
      <td>0.879592</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
type(dframe)

pandas.core.frame.DataFrame

In [19]:
dframe['co1_1']

A    0.578213
B    0.476403
C    0.103108
D    0.270907
E    0.321363
Name: co1_1, dtype: float64